<div class="row pageRow">
<article class="col-12 col-xl-6 about">
    <section class="contentBox contentBox--default">
        <div class="about__icon">
            <img src="/assets/img/flaneur.svg" alt="Flaneur">
        </div>
        <h2>What is Flaneur?</h2>
        <p>Flaneur is a simple tool that will help you to plan your trips. It can help you to</p>
        <ul>
            <li>manage and collect places you want to visit</li>
            <li>create very simple orvery detailed trips plans according to your needs</li>
            <li>manage trips budget and schedule</li>
        </ul>
    </section>

    <section class="contentBox contentBox--default">
        <div class="about__icon">
            <img src="/assets/img/flaneur.svg" alt="Flaneur">
        </div>
        <h2>Who is it for?</h2>
        <p>Flaneur may be useful for you if only:</p>
        <ul>
            <li>you love big cities - exploring them, strolling, discovering places</li>
            <li>you like to plan your trip carefully - planning is almost as pleasurable as trip itself</li>
            <li>you enyoy to collect places to visit during the trip, store them on map and describe them</li>
            <li>you are on a low budget, so every amount of money should be spent carefully</li>
        </ul>
    </section>

    <section class="contentBox contentBox--default">
        <div class="about__icon">
            <img src="/assets/img/flaneur.svg" alt="Flaneur">
        </div>
        <h2>How to use it?</h2>
        <ol>
            <li>Add city in 'Places' library</li>
            <li>Add places to that city</li>
            <li>Create trip</li>
            <li>Add and setup trip chapters</li>
        </ol>
    </section>
</article>
</div>