<div class="row pageRow">
    <div class="col-12 col-xl-3 layoutHeader">
        <div class="sticky sticky-lg">
            <header class="pageHeader">
                <h1 class="pageHeader__title">Settings</h1>
            </header>
        </div>
    </div>

    <div class="col-12 col-xl-9">

        <div class="nothingHere">
            <img src="/assets/img/flaneur.svg" alt="">
            <p>Err, sorry to say that, but Settings section is under construction and there is nothing to configure yet.</p>
        </div>
    </div>
</div>